#drag-area {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: calc(100% + 600px);
    height: calc(100% + 271px);
    margin-top: 329px;
}

.title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 30px;
    width: 100%;
    background-color: var(--titleBarBack);
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
}

.window-controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
    width: 70px;
    height: 100%;
}

.window-control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

.window-control img {
    opacity: 0.6;
    display: none;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    pointer-events: none;
}

.window-controls:hover .window-control img {
    display: flex;
}

.window-exit, .window-minimize, .window-expand {
    background-color: #ffffff33;
}

.window.front .window-exit {
    background-color: var(--windowExit);
} .window.front .window-minimize {
    background-color: var(--windowMinimize);
} .window.front .window-expand {
    background-color: var(--windowExpand);
}

.window-controls:hover .window-exit {
    background-color: var(--windowExit);
} .window-controls:hover .window-minimize {
    background-color: var(--windowMinimize);
} .window-controls:hover .window-expand {
    background-color: var(--windowExpand);
}

.window-title {
    font-weight: 600;
    font-size: 14px;
    color: #ffffff99;
    user-select: none;
    flex-shrink: 0;
}

.title-bar-aligner {
    width: 70px;
    height: 100%;
}

.window {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: var(--windowBackground);
    border-radius: 10px;
    box-shadow: 0px 10px 40px -10px #000000CC, 0px 0px 0px 0.5px #00000099;
    overflow: hidden;
}

.window.exit {
    display: none;
}

.window.minimize {
    display: block; /* not ready to implement yet */
}

.window.expand {
    width: 100vw;
    height: 100vh;
}

.window.front .title-bar {
    background-color: var(--titleBarFront);
}

.window-border {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 1px #ffffff33, inset 0px 1px 0px 0px #ffffff33;
    pointer-events: none;
}

.resizer {
    position: absolute;
    z-index: 10;
} .top-left {
    width: 18px;
    height: 18px;
    top: -5px;
    left: -5px;
    border-radius: 0px 0px 10px 0px;
    cursor: nwse-resize;
} .top-right {
    width: 18px;
    height: 18px;
    top: -5px;
    right: -5px;
    border-radius: 0px 0px 0px 10px;
    cursor: nesw-resize;
} .bottom-left {
    width: 18px;
    height: 18px;
    bottom: -5px;
    left: -5px;
    border-radius: 0px 10px 0px 0px;
    cursor: nesw-resize;
} .bottom-right {
    width: 18px;
    height: 18px;
    bottom: -5px;
    right: -5px;
    border-radius: 10px 0px 0px 0px;
    cursor: nwse-resize;
} .top {
    width: calc(100% - 30px);
    height: 6px;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    cursor: ns-resize;
} .bottom {
    width: calc(100% - 30px);
    height: 6px;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    cursor: ns-resize;
} .left {
    width: 6px;
    height: calc(100% - 30px);
    left: -3px;
    top: 50%;
    transform: translateY(-50%);
    cursor: ew-resize;
} .right {
    width: 6px;
    height: calc(100% - 30px);
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
    cursor: ew-resize;
}